<div class="everything">
  <div class="nav-bar">
    <div class="width-container">
      <div class="nav-bar__content">
        <h2>New Breweries</h2>
      </div>
    </div>
  </div>
  <main>
    <div class="width-container">
    <div class="grid">
      <div class="grid__item">
        <div class="grid__item__frame">
          <img src="http://placecera.com/150/150" alt="">
        </div>
        <span class="grid__item__info">
          <h3>14er</h3>
          <p>EST. 2015</p>
        </span>
      </div>
    </div>
  </div>
  </main>
</div>
{{outlet}}
